
 .pages__main {
    padding: 1rem;
    display: inline-block;
 }
 

 .page__number {
    font-size: large;
    color: black;
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
 }